body {
   margin: 0;
}

.container {
   margin: 0 auto;
   padding: 30px;
   max-width: 1920px;
   box-sizing: border-box;
   background-color: yellowgreen;
}

.accordion {
   background-color: orange;
}

.accordion__title {

}

.accordion__items {
   color: #0000ff;
   background-color: blueviolet;
}

.accordion__items:hover {
   color: #000;
   cursor: pointer;

}

.accordion__items:hover .accordion__toolbar-img {
   opacity: 1;
}

.accordion__item {
   /* height: 50px;
   overflow: hidden;
   transition: all 1s; */
   background-color: green;
}

/* .accordion__item:hover {
   height: 220px;
} */

.accordion__input {
   cursor: inherit;
   /* display: none; */
}

.accordion__input:checked ~ .accordion__toolbar {
   grid-template-rows: 20px 180px;
   color: #000;
   translate: all 0.5s;
   /* height: 20px; */
}

.accordion__input:checked ~ .accordion__toolbar > .accordion__content-img {
   /* display: inline; */
   visibility: visible;
   width: 100px;
}

.accordion__input:checked ~ .accordion__toolbar > .accordion__toolbar-img,
.accordion__toolbar:hover > .accordion__toolbar-img {
   transform: rotate(45deg);
}

.accordion__toolbar {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 15% 0%;
   /* height: 200px; */
   overflow: hidden;
   cursor: inherit;
   background-color: red;
}

.accordion__toolbar:hover {
   grid-template-rows: 15% 85%;
   transition: all 1s;
}

.accordion__toolbar:hover > .accordion__content-img {
   visibility: visible;
   width: 100px;
   transition: all 1s;
}

.accordion__toolbar:active,
.accordion__input:checked ~ .accordion__toolbar:active {
   color: #0000ff;
}

.accordion__toolbar:active .accordion__content-img {
   filter: contrast(50%);
}

.accordion__toolbar-title {
   place-self: center start;
}

.accordion__toolbar-img {
   place-self: center end;
   width: 15px;
   height: 15px;
   opacity: 0;
   transition: all 1s;
}

.accordion__content-img {
   /* display: none; */
   grid-column-start: span 2;
   place-self: center;
   width: 30px;
   visibility: hidden;
   /* transition: all 0.5s; */
}